{{ template "base" .}}

{{ define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Home page</h1>
                <p>Text homepage</p>
                <img src="/static/tray.png" />
            </div>
        </div>
    </div>
{{ end }}